.card {
  --bs-card-cap-bg: hsla(0,0%,100%,.5);
}

:root {
  --bc-body-bg-transparency: 0.5;
  --bc-glass-blur: 50px;
}


.header {
  .logo {
    max-height: 4.5rem;
  }
}

.login-or {

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 15%;
    height: 1px;
    background: var(--bs-highlight-color);
  }

  &:before {
    left: 30%;
  }

  &:after {
    right: 30%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.copy-txt {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}

.fullpage-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .6);
  z-index: 99;

  .spinner-border {
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
    position: fixed;
  }
}
.h-1 {
  height: 1rem;
}
.h-1-5 {
  height: 1.5rem;
}
.h-7 {
  height: 7rem;
}


.lh-1-5 {
  line-height: 1.5rem;
}

.card-head {
  padding: 1rem 1rem 0 1rem;

}

.card-head,
.card-footer {
  .icon {
    height: 1.5rem;
    margin-left: 0.5rem;
    //cursor: pointer;

    &.logo {
      margin: 0;
      //cursor: auto;
    }
  }

}

.card-footer {
  .icon {
    margin-left: 0;
    margin-right: 0.5rem;
  }
}

.blc_image_sm {
	height: 3.1rem;
	width: 3.1rem; 
}

.blc_image_md {
	height: 5.6rem;
	width: 5.6rem; 
}

.blc_image_lg {
	height: 6.8rem;
	width: 6.8rem; 
}

.my-apps {
  .app {
    border-radius: 7px;
    text-align: center;
    height: 4.5rem;
    width: 4.5rem;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem;

    &.disabled {
      opacity: 0.5;
      position: none;
    }

    &.one {
      background: var(--bs-primary);
    }

    &.two {
      background: var(--bs-secondary);
    }

    &.three {
      background: var(--bs-orange);
    }

    &.four {
      background: var(--bs-danger);
    }

    &.five {
      background: var(--bs-gray-dark);
    }

    &.six {
      background: var(--bs-gray);
    }

    &.seven {
      background: var(--bs-gray-900);
    }

  }
}
.bg-orange {
  background-color: var(--bs-orange);
}
.bg-teal {
  background-color: var(--bs-teal);
}
.bg-cyan {
  background-color: var(--bs-cyan);
}
.bg-gray {
  background-color: var(--bs-gray);
}
.bg-gray-500 {
  background-color: var(--bs-gray-500);
}

.prompt-card {
  height: auto;
  position: relative;

  .prompt-card-image-container img {
    width: 100%;
    height: auto;
  }

  &:hover .prompt-card-image-actions {
    display: block;
  }
  .prompt-card-image-actions {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: none;
    z-index: 1;
    text-align: center;

    img {
      height: 1rem;
      margin: 0.1rem 0.2rem;
      cursor: pointer;
    }
  }
}

.card-header,
.card-footer {
  padding: var(--bs-card-cap-padding-y) calc(var(--bs-card-cap-padding-x) - 1.5rem)
}

.alert-container {
  position: fixed;
  top: 10%;
  width: 50%;
  left: 25%;
}

.disabled-item {
  pointer-events: none;
  opacity: .5;
}

.h-35vh {
  height: 35vh;
}


.scrollbar::-webkit-scrollbar {
  width: 0.3rem;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 3rem;
  background-color: rgba(172, 172, 172, .2);
}

.scrollbar::-webkit-scrollbar-thumb {
  // border-radius: 3rem;
  // border: 0.3rem solid rgba(172, 172, 172, .5);
  // border-left: 0;
  // border-right: 0;
  background-color: rgba(172, 172, 172, .8);

}

input.small-placeholder::placeholder {
  font-size: 1rem;
  text-align: left;
}

// editor Stylings
.rsw-editor {
  border: 1px solid #00000032;

  button[title="Bold"],
  button[title="Italic"],
  button[title="Underline"],
  button[title="Strike through"],
  button[title="Link"],
  button[title="Clear formatting"],
  button[title="HTML mode"],
  select[title="Styles"],
  .rsw-separator {
    display: none;
  }

  .rsw-toolbar {
    background: #8080801d;
  }

  button.rsw-btn {
    font-size: 1rem;
    padding: 0.25rem 0.7rem;
    background: #fff;
    margin: 3px;
    border-radius: 6px;
    width: auto;
    height: auto;
    border: 1px solid #ddd;
    color: #707070;
  }
}

// input type number - Hide arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.public-url {
  display: inline-block;
  width: 10rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid var(--bs-secondary);
  color: var(--bs-secondary);
  margin-right: 0.5rem;
}


.photoCanvas {
  height: 2.4rem;
  width: 2.4rem;
}

.blcModalContentS {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: auto;
  max-height: 11rem;
}

.scrollbarSlim1, .scrollbarSlim2 {
  overflow-y: scroll !important;
}

